doctype html
html(lang="en")
  head
    title The .NET Toolbox
    link(rel='stylesheet' href='/styles/application.css')
  body
    .jumbotron.bg-accent-3.type-neutral-10
      .container.pbxxxl
        header.title
          h1 The .NET Toolbox
          h4
            span discover third-party libraries and build better applications&nbsp;
            strong on the .NET platform
    #root
    script(src='/application.js')
